myList {
}
.myList .x-list-item {
    position:relative;
 /*   width: 100%;
    padding:0.5em 0.8em;
    min-height:2.6em;*/

}
.myList .x-list-item .cNegative {
    width: 100%;
    background-color: indianred;
    padding:0.5em 0.8em;
    min-height:2.6em;
}
.myList .x-list-item .cOK {
    width: 100%;
    background-color: greenyellow;
    min-height:2.6em;
    padding:0.5em 0.8em;
}
.myList .x-list-item .cOther {
    width: 100%;
    background-color: orange;
    min-height:2.6em;
    padding:0.5em 0.8em;
}

.myList .x-list-item .cOperator {
    width: 100%;
    min-height:2.6em;
    padding:0.5em 0.8em;
}